.padding-right-none {
    padding-right: 0px;
}

.padding-left-none {
    padding-left: 0px;
}

.color-white {
    color: #ffffff;
}

.margin-top-xs {
    margin-top: 5px;
}

.margin-top-sm {
    margin-top: 15px;
}

.margin-top-md {
    margin-top: 20px;
}

.margin-top-lg {
    margin-top: 40px;
}

.margin-bottom-xs {
    margin-bottom: 5px;
}

.margin-bottom-sm {
    margin-bottom: 15px;
}

.margin-bottom-md {
    margin-bottom: 20px;
}

.margin-bottom-lg {
    margin-bottom: 40px;
}

.padding-md {
    padding: 20px;
}

.border-box  {
    box-shadow: inset 0px 3px 10px 5px rgba(0,0,0,0.2);
}

.hr {
    height: 1px; background-color: #cccccc; border: none;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
    color: #ffa509;
}

.morelink:hover{
    color: darkorange;
}
