body {
    background-size: auto;
    background: #3AA3EE url(../images/main-bg.png) repeat top left;
    color: white;
}

.k-page {
    background-color: rgba(38,98,153,1);
}

.k-main-logo {
    width: 100%;
    height: auto;
}

.k-slogan {
    margin-top: 40px;
    color: #ffffff;
    text-align: right;
    font-size: 12px;
}

.k-sidebar {
    background-color: rgb(52, 96, 153);
}

.k-sidebar-menu .nav-link{
    font-size: 14px;
    color: white;
    text-align: justify;
}

.k-sidebar-menu .nav-link.active{
    /*background-color: #ff8780;*/
    background-color: #64696c;
}

.k-main-description {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}

.k-main-top-student {

}


.k-main-top-student .k-main-top-student__img {
    border: 1px solid #989898;
    cursor: pointer;

    width: auto;
    height: 200px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.k-main-top-student .k-main-top-student__title {
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.k-main-top-student .k-main-top-student__description {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
    padding-bottom: 20px;
    margin: 0;
}

.k-about-kumpan-ava {
    border: 1px solid #989898;
    cursor: pointer;

    width: auto;
    height: 250px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%;
    background-position-y: 0;
}

.k-about-item {
    font-size: 14px;
    font-weight: normal;
}


.k-about-link-container .k-about-link-container__img{
    border: 1px solid #989898;
    cursor: pointer;

    width: auto;
    height: 200px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}


.k-about-link-container__title {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: blanchedalmond;
    text-decoration: underline;
}

.k-about-link-container__title:hover {
    color: #f90007;
}

#k-contact-map {
    width: 100%;
    height: 280px;
    background-color: grey;
}

.k-contact-item {
    font-size: 13px;
    font-weight: normal;
}

.k-footer {
    background-color: rgb(52, 96, 153);
}

.k-footer  .k-footer__item-title {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

.k-footer  .k-footer__item-text {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}



.k-pdf-container {
    height: 700px;
}

.k-link {
    color: #ffffff
}

.k-link:hover {
    color: #c6c6c6;
}
